#footer{
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    background-color: #232f3e;
    color: white;
}
.footer-section{
    display: flex;
    flex-direction: column;
}
.footer-section-heading{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5px 0px;
}
.footer-section li{
    list-style: none;
}

.footer-item{
    font-weight: 400;
    font-size: 0.8rem;
    margin: 5px 0px;
}
.footer-item:hover{
    text-decoration: underline;
    cursor: pointer;
}