*{
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins';
    background-color: #E3E6E6;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #131921;
    color: white;
}
.nav-left{
    display: flex;
    /* width: 18%; */
    justify-content: space-between;
}
.logo-img-container{
    display: flex;
    align-items: center;
}
.logo-img{
    display: block;
    margin-top: 5px;
    height: 35px;
}

.navbar a{
    color: white;
    text-decoration: none;
}
.navbar-link{
    display: flex;
    margin: 0px 10px;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
}
.navbar-link:hover{
    border: 1px solid white;
}
.line1{
    font-weight:lighter;
    font-size: 0.7rem;
}
.line2{
    font-weight: bolder;
    font-size: 1rem;
}
.nav-search{
    display: flex;
    width: auto;
}
.searchbox{
    width: 550px;
    padding: 10px;
}
.search-icon{
    position:relative;
    right: 37px;
    background-color: rgb(255, 174, 0);
    color: black;
    padding: 9px;
    font-size: 1.25rem;
    margin: auto;
    border-radius: 1px;
}
.search-icon:hover{
    background-color: rgb(236, 162, 0);
    cursor: pointer;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
}
.cart{
    display: flex;
    align-items: flex-end;
}
.cart-img{
    height: 40px;
}
.cart-items-num{
    color: orange;
    position:absolute;
    right: 65px;
    font-weight: bolder;

}

.sec-navbar{
    display: flex;
    align-items: center;
    background-color: #232f3e;
    height: 40px;
}
.sec-navbar ul{
    display: flex;
    list-style: none;
}

.sec-navbar ul a{
    text-decoration: none;
    color:white;
    padding: 10px 10px;
    font-size: 0.9rem;
}
.sec-navbar ul a:hover{
    border: 1px solid white;
}